<!DOCTYPE html>
<html>
<head>
  <title>IdeaBoBeeA</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <main>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
    <% end %>
    <% @user = User.find_by(id: session[:user_id]) %>
    <ul id="dropdown1" class="dropdown-content">
      <% if @user.nil? %>
      <li><%= link_to "log in", login_path %></li>
      <% elsif session[:user_id] != nil %>
      <li class="black-link"><%= link_to "your page", user_path(session[:user_id]) %></li>
      <li><%= link_to "your ideas", user_ideas_path(session[:user_id]) %></li>
      <% if @user.admin? %>
      <li><%= link_to "admin dashboard", dashboard_path %></li>
      <li><%= link_to "all users", admin_users_path %></li>
      <li><%= link_to "all ideas", admin_ideas_path %></li>
      <% end %>
      <li><%= link_to "logout", logout_path %></li>
      <% end %>
    </ul>
    <nav>
      <div class="nav-wrapper grey darken-2">
        <a class="brand-logo"><%= image_tag 'logo2.png', height: 60 %></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Navigation<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </main>
<nav>
  <div class="nav-wrapper grey darken-2">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <% if session[:user_id] %>
      <li><%= link_to "logout", logout_path %></li>
              <% end %>
    </ul>
  </div>
</nav>
</body>
</html>
